<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>FastAPI + Redis + arq</title>
</head>
<body>
<main class="container">
    <h1>FastAPI + Redis + arq</h1>
</main>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', path='/js/main.js') }}"></script>
</body>
</html>